:root {
    --blanco: #FFFFFF;
    --negro: #000000;
    --fuentePrincipal: 'Righteous', cursive;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.Contenedor {
    flex: 1;
    flex-direction: column;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    margin: 0;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Carrusel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Objeto {
    position: absolute;
    width: 55rem;
    height: 50rem;
    background-color: #27C4C4;
    padding: 0;
    transition: 0.3s;
    top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Usuario{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.AgregarUsuario {
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    font-size: 3rem;
    color: var(--blanco);
    text-decoration: none;
}

.AgregarUsuario:hover {
    color: #03e9f4;
}

.Botones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#UsuarioPrevio, #UsuarioPosterior {
    background-color: transparent;
    border: none;
    left: 400px;
    cursor: pointer;
    margin: 2rem 5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.InputsInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input, select{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    margin: .5rem;
    text-transform: uppercase;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    border: none;
}

label {
    font-size: 2rem;
}

input[type=text], select {
    text-align: center;
    width: 20rem;
}

input[type=email] {
    text-align: center;
    width: 35rem;
}

input[type=submit] {
    cursor: pointer;
    width: 20rem;
    background-color: #00FF04;
}

form .BtnEliminar {
    margin: 1rem;
    background-color: #FF0000;
}

.FormEliminar, #BtnEliminarUsuario {
    width: 95%;
}